*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
}

.header {
    padding: 40px;
    font-family: "Poppins", sans-serif;
    background-color: hsl(193, 100%, 96%);
    background-image: url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cta {
    padding: 10px 40px;
    background-color: white;
    font-weight: bold;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.2);
    cursor: pointer;
    transition: all 200ms ease-out;
}

.header__cta:hover {
    color: hsl(208, 11%, 55%);
}

.header__hero {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    flex-basis: 500px;
}

.header__title {
    font-size: 42px;
    line-height: 1.25;
}

.header__desc {
    margin: 20px 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.header__start {
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.header__start:hover {
    background-color: hsl(322, 100%, 76%);
}

.header__right {
    width: 600px;
}

.header__mockup {
    width: 100%;
    height: auto;
}

/* Main */

.main__cards {
    margin: 100px auto 80px;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.main__card {
    margin-bottom: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
}

.main__card--inverse {
    flex-direction: row-reverse;
}

.main__info {
    margin-left: 50px;
    flex-basis: 450px;
}

.main__info--inverse {
    margin-left: 0;
}

.main__sub-title {
    margin: 15px 0;
    font-size: 32px;
    font-weight: bold;
}

.main__desc {
    line-height: 1.5;
    color: hsl(208, 11%, 55%);
}

.main__illustration {
    width: 250px;
    height: auto;
}

.main__illustration--inverse {
    margin-left: 50px;
}

.main__community {
    position: relative;
    top: 60px;
    max-width: 700px;
    padding: 30px;
    margin: auto auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
}

.main__ready {
    margin: 20px 0 30px;
    font-size: 32px;
    font-weight: bold;
}

.main__cta {
    margin-bottom: 10px;
    padding: 20px 80px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.2);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.main__cta:hover {
    background-color: hsl(322, 100%, 76%);
}

/* Footer */

.footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
}

.footer__container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 120px 0 50px;
}

.footer__logo {
    filter: invert(1) grayscale(100%) brightness(5);
}

.footer__grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 380px 1fr 1fr 1fr;
}

.footer__col {
    display: flex;
    flex-direction: column;
}

.footer__col:nth-child(n + 2) {
    align-items: center;
}

.footer__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer__icon--location {
    position: relative;
    top: 6px;
    align-self: flex-start;
}

.footer__desc {
    margin-left: 20px;
    line-height: 1.5;
}

.footer__list-item {
    margin-bottom: 25px;
}

.footer__social {
    width: 15px;
    height: 15px;
}


.footer__list--flex {
    display: flex;
}

.footer__list-item--social {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(193, 100%, 96%);
    border-radius: 50%;
    cursor: pointer;
}

.footer__list-item--social:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(77%) saturate(1530%) hue-rotate(295deg) brightness(103%) contrast(101%);
}

.footer__about {
    text-align: right;
    font-size: 12px;
}

.attribution {
    padding: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(322, 100%, 36%);
}


@media all and (max-width: 1150px) {
    .main__cards {
        margin-left: 25px;
        margin-right: 25px;
    }

    .footer__container {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media all and (max-width: 950px) {
    .main__cards {
        margin-left: 25px;
        margin-right: 25px;
    }

    .main__card {
        flex-direction: column-reverse;
    }

    .main__info {
        margin-left: 0;
        margin-top: 20px;
        flex: 1;
        text-align: center;
    }



    .footer__container {
        margin-left: 25px;
        margin-right: 25px;
    }

    .header__hero {
        flex-direction: column;
        justify-content: flex-start;
    }

    .header__left {
        flex: 1;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer__grid {
        grid-template-columns: 1fr;
    }

    .footer__col:nth-child(n + 2) {
        align-items: start;
    }

    .footer__list--flex {
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__about {
        text-align: center;
    }
}

@media all and (max-width: 750px) {

    .header {
        padding: 25px;
    }

    .header__right {
        max-width: 100%;
        width: auto;
    }

    .main__community {
        margin-left: 25px;
        margin-right: 25px;
        padding: 10px 10px 20px;
    }

    .main__ready {
        font-size: 24px;
    }

    .main__cta {
        font-size: 16px;
    }


}