*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
}

.header {
    padding: 40px;
    font-family: "Poppins", sans-serif;
    background-color: hsl(193, 100%, 96%);
    background-image: url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__cta {
    padding: 10px 40px;
    background-color: white;
    font-weight: bold;
    border: 0;
    border-radius: 30px;
    box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.2);
    cursor: pointer;
}

.header__hero {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    flex-basis: 500px;
}

.header__title {
    font-size: 42px;
    line-height: 1.25;
}

.header__desc {
    margin: 20px 0;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.header__start {
    padding: 15px 40px;
    color: white;
    font-weight: bold;
    background-color: hsl(322, 100%, 66%);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.header__right {
    width: 600px;
}

.header__mockup {
    width: 100%;
    height: auto;
}

/* Main */

.main {

}

.main__cards {
    margin: 100px auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}

.main__card {
    margin-bottom: 25px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
}

.main__card--inverse {
    flex-direction: row-reverse;
}

.main__info {
    margin-left: 50px;
    flex-basis: 450px;
}

.main__info--inverse {
    margin-left: 0;
}

.main__sub-title {
    margin: 15px 0;
    font-size: 32px;
    font-weight: bold;
}

.main__desc {
    line-height: 1.5;
    color: hsl(208, 11%, 55%);
}

.main__illustration {
    width: 250px;
    height: auto;
}

.main__illustration--inverse {
    margin-left: 50px;
}

.main__community {
    max-width: 500px;
    padding: 20px;
    margin: auto auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
}

.main__ready {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.main__cta {
    margin-bottom: 10px;
    padding: 15px 50px;
    color: white;
    font-weight: bold;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.2);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}